
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    height: 100%;
  }
  
  h2 {
    text-align: center;
  }
  .logo{
    color:white;
  }
  
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 65px;
    padding: 1em;
    font-weight:bolder;
    font-size:25px;
  }
  
  .menu li:hover{
    color:white;
    cursor:pointer;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  /*Container for menu button  */
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  /*  Creating the menu button */
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 6px;
    width: 32px;
    border-radius: 3px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }

  /*  Adding Functionality to the Hamburger Menu with CSS  */
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
  /*  transforms the hamburger icon into a cross  */
    transform: rotate(-45deg);
  }

  /* Making the navbar responsive by CSS Media Queries */
@media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #9f9a9a;
      height: 2.5em;
      padding: 0.5em;
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: black;
      background-color: #E8E8E8;
      
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
   
    }
  }

header{
    background-color: black;
}
   
   main{
    color: white;
    font-size: 70px;
    padding-bottom: 20px;
    margin: auto;
    width: 50%;
    content: "\a";
    white-space: pre;
   }
   
.aside{
    width: 320px;
    height: 160px;
    margin: left;
    background-color: lightblue;
    border-radius: 20px;
}

.aside2{
    width: 320px;
    height: 160px;
    margin: left;
    background-color: lightblue;
    border-radius: 20px;
    position: fixed; bottom: 200px; /* 20px makes them apart from each other but 200opx closer what the fuck */
}


footer{
    position: absolute;
    bottom: 20px;
    background-color: rgb(0, 204, 204);
    right: 900px;
    color: black;
    border-radius: 20px;
    height: 5%;
}

.text{
    color: black;
    margin: auto;
}



/* .topnav{
    position: relative;
    right: -300px;
    top: -200px; 
   }

   .topnav a{
    margin: 20px;
    text-decoration: none;
    color: white;
   }

   .topnav a.icon{
    background: black;
    display: block;
    position: absolute;
   } */ 


/*body{
    margin: 0px;
    background-color: black;
    height: 100vh;
    display: grid;
    place-items: center;
}

.card_group,
.card{
    aspect-ratio: 5 / 7;
}

.card{
    background-color:  rgba(255, 255, 255, 0.05);
    position: absolute;
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
}

.card_group,
.big_card:nth-child(2){
    width: 30vmin;
    border-radius: 1vmin;
    transform: translateX(-10%) rotate(-3deg);
    background-image: url(/images/anes.png);
}

.big_card:nth-child(4){
    width: 30vmin;
    border-radius: 1vmin;
    transform: rotate(2deg);
    background-image: url(/images/axo.png);
}

.big_card:nth-child(6){
    width: 30vmin;
    border-radius: 1vmin;
    transform: translateX(-6%) rotate(-3deg);
    background-image: url(/images/fish.png);
}

.big_card:nth-child(8){
    width: 30vmin;
    border-radius: 1vmin;
    transform: translateX(10%, 3%) rotate(5deg);
    background-image: url(/images/try.png);
}

.smol_card{
    width: 12vmin;
    border-radius: 1vmin;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card_group:hover > .smol_card:nth-child(1){
    transform: translate(200%, 160%) rotate(-15deg);
    background-image: url(/images/ash.png);
}

.card_group:hover > .smol_card:nth-child(3){
    transform: translate(160%, 170%) rotate(15deg);
    background-image: url(/images/primo.png);
}

.card_group:hover > .smol_card:nth-child(5){
    transform: translate(-200%, -170%) rotate(15deg);
    background-image: url(/images/svans.png);
}

.card_group:hover > .smol_card:nth-child(7){
    transform: translate(-280%, 140%) rotate(-15deg);
    background-image: url(/images/anes.png);
}*/

